<section class="team-logos">
  <div class="team-logos__grid">
    <div class="team-logos__item">
      <img src="images/teams/syatra.png" alt="Сятракасы" class="team-logos__img" />
    </div>
    <div class="team-logos__item">
      <img src="images/teams/shorkino_name.png" alt="Шоркино" class="team-logos__img" />
    </div>
    <div class="team-logos__item">
      <img src="images/teams/sarbaki.png" alt="Сарбаки" class="team-logos__img" />
    </div>
    <div class="team-logos__item">
      <img src="images/teams/poboi.png" alt="Побои" class="team-logos__img" />
    </div>
  </div>
</section>
