//background: url('/images/img_bn.jpg') center/cover no-repeat;
main {
  margin: 0 auto;
  background: #121212 url('/images/bg-arman.png') no-repeat;
  background-size: 250%;
  max-width: 390px;
  padding: 192px 16px 32px 16px;
  box-sizing: border-box;

  //.news {
  //  padding: 24px;
  //  background: #0e0e0e;
  //  color: #e2faff;
  //  font-family: Arial, sans-serif;
  //
  //  &__title {
  //    font-size: 2rem;
  //    font-weight: 400;
  //    color: #00bcd4;
  //    margin-bottom: 16px;
  //    font-family: "Russo One", sans-serif;
  //  }
  //}
}

